root:{

--Red: hsl(0, 78%, 62%);
--Cyan: hsl(180, 62%, 55%);
--Orange: hsl(34, 97%, 64%);
--Blue: hsl(212, 86%, 64%);
/*Neutral colors*/
--Very-Dark-Blue: hsl(234, 12%, 34%);
--Grayish-Blue: hsl(229, 6%, 66%);
--Very-Light-Gray: hsl(0, 0%, 98%);
}

*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body{
    font-family:sans-serif;
    background-color: var(--Very-Light-Gray);
}
section{
    font-size: 15px;
    min-height:100vh;
}
.main{
    text-align:center;
    position:relative;
    top:50px;
    width:40%;
    margin:0 auto;
}
.title{
    font-weight:400;
    color:gray;
}
.title2{  
    font-size: 23px;;
}
.para{
    color:grey;
}
.box{ 
    width:73%;
    margin:80px auto;
    display:flex;
    justify-content:space between;
    gap:20px;
}
.box1{
    background-color: #fff;
    width:310px;
    padding:20px;
    border-radius:10px;
    border-top:3px solid hsl(180, 62%, 55%);
    margin:auto 0;
    height: 180px;
    box-shadow: 0 4px 6px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}
.box2 .col1{
    background-color: #fff;
    width:310px;
    padding:20px;
    border-radius:10px;
    border-top:3px solid hsl(0, 78%, 62%);
    margin-bottom:20px;
    height:180px;
    box-shadow: 0 4px 6px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);   
}
.box2 .col2{
    background-color: #fff;
    width:310px;
    padding:20px;
    border-radius:10px;
    border-top:3px solid hsl(34, 97%, 64%);
    margin:auto 0;
    height:180px;
    box-shadow: 0 4px 6px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}
.box3{
    background-color: #fff;
    width:310px;
    padding:20px;
    border-radius:10px;
    border-top:3px solid hsl(212, 86%, 64%);
    margin:auto 0;  
    box-shadow: 0 4px 6px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}
.box p{
   color:hsl(229, 6%, 66%) ;
   font-size:12px;
   padding-top:1vh;
} 
.img{
    display:flex;
    justify-content: flex-end;
    align-items:flex-end;
    height:70px;   
}
@media (max-width:760px){
    section .main{
        width:80%;
    }
    .box{
        flex-direction:column;
        align-items:center;
    }
    .box1, .box2 .col1, .box2 .col2{
        margin-bottom:30px;
    }
    .box1, .box2 .col1, .box2 .col2, .box3{
        width:100%;
    }
    box2{
        width:100%;
    }
}